<!DOCTYPE html>
<html>
    <head>
		<meta charset="UTF-8">
		<title>Cart</title>
		<link rel="stylesheet" type="text/css" href = "../../styles/mainCart.css"> 
	</head>
    <body>
        <div class="grid-container">
            <%- include(`partials/header`); %>
            <div class = "cart">
                <h1>Košarica</h1>
                <div class = "cartOverview">
                    <table class="tableOfItems" id = "table">
                        <thead>
                            <tr>
                                <th id = "name">NAZIV PROIZVODA</th>
                                <th id = "quantity">KOLIČINA</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% cartItems.forEach(item => { %>
                                <% if(item.quantity > 0) { %>
                                    <tr>
                                        <td><%= item.name %></td>
                                        <td>
                                            <a href="/cart/remove/<%= item.id %>"><span class="button">-</span></a>
                                            <span><%=item.quantity %></span>
                                            <a href="/cart/add/<%= item.id %>"><span class="button">+</span></a>
                                        </td>
                                    </tr>
                                <% } %>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>