<!DOCTYPE html>
<html>
	<head>
		<title>My Website</title>
		<link rel="stylesheet" href="../../styles/main.css">
	</head>
	<body>
		<div class="grid-container">
			<%- include(`partials/header`); %>
			<div class="navigation">
				<ul>
					<% categories.forEach(function(category) { %>
						<li>
							<a href = "/home/getProducts/<%= category.id %>"> <%= category.name %> </a>
						</li>
					<% }); %>
				</ul>
			</div>
			<div class="storefront">
				<div id = "welcomingMessage">
					<h1>Dobar dan i dobrodošli</h1>
				</div>
				<img src="../../images/<%= currentCategory.image %>" alt="Store Front">
			</div>
			<div class="list">
				<% if (currentCategory.prodList != null) { %>
					<% currentCategory.prodList.forEach(product => { %>
						<div class ="list__item">
							<div id = "<%= product.name.replace(/[\s%.,&]/g, '') %>">
								<img src = "../../images/<%= product.image %>" alt = "<%= product.name %>">
								<p><%= product.name %></p>
								<p><%= currentCategory.name %></p>
								<a href="/home/getProducts/addToCart/<%= currentCategory.id %>&<%= product.id %>">
									<div class ="cart" src = "../../images/shoppingCart.png" alt = "Shopping Cart"></div>
								</a>
								<div class="quantityBubble"></div>
							</div>
						</div>
					<% }); %>
				<% } %>
			</div>
			<%- include(`partials/footer`); %>
		</div>
	</body>
</html>